{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/gouwuche.css' %}"/>
		<script src="{% static 'js/jquery-1.12.3.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
		<script src="{% static 'js/small.js' %}"></script>
		<script src="{% static 'js/gouwuche.js' %}"></script>
{#        <script src="{% static 'js/test.js' %}"></script>#}
	</head>
	<body>
		<div id="logo-wrap">
			<div class="top inr">
				<div class="logo">
					<a href="/#" target="_blank">
						<img src="{% static 'images/logo (1).png' %}" />
					</a> 
				</div>
				<b>客服热线：400-702-0808</b>
				
				<div class="proges"></div>
			</div>
		</div>
		<div id="main-wrap">
			<div class="main inr">
				<div class="thead">
					
					<div class="product">商品</div>
					<div class="price">文轩价</div>
					<div class="credits">积分</div>
					<div class="privilege">优惠</div>
					<div class="quantity">数量</div>
					<div class="operation">操作</div>
				</div>
				<div class="grop">
					<div class="shop-top">
						<span>商家：文轩网</span>
					</div>
					<input type="checkbox" checked="checked" id="allCheck" />全选
					
					<ul id="list">
						<li>
							<input class="check" type="checkbox" />
							<img src="{% static 'images/small.jpg' %}" />
							<span>谁的青春不迷茫</span>
							<span>￥1000</span>
							<input class="sub" type="button" value="-" />
							<input class="num" type="text" value="1" />
							<input class="add" type="button" value="+" />
							<a class="delete" href="javascript:;">删除</a>
						</li>
					</ul>
					<a id="deleteSelect" href="javascript:;">删除选中</a>
					<p>总价： <span id="totalPrice">0</span></p>
				</div>
		
			</div> 
				<div class="gou">
					<a  class="continue">
						
					</a>
					<a  class="balance">
						
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
